<div class="row">

	<div class="mt-5 mb-5 d-md-flex justify-content-center w-100">
		<div class="col-md-6 mb-4">
			<h1 class="c-white">Welcome to your Dashboard.</h1>
			<p class="c-white">View key information about your activities here.</p>
			<div class="button-row">
			</div>
			<div class="powered-by" style="text-align: left; color: #FFF;">
				<small>Powered by: </small>
				<img src="./assets/media/company-logos/smartbank.png" class="pl-2 logo">
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<div class="row account-detail-box">
				<div class="col-md-12">
					<ul class="list-group">
						<li class="list-group-item d-flex justify-content-between align-items-center">
							<h5 class="">Account Holder :</h5>
							<h5 class="text-dark">{{accountBasicInfo?.accountName}}</h5>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							<h5 class="">Account ID :</h5>
							<h5 class="text-dark">{{accountBasicInfo?.accountId}}</h5>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							<h5 class="">Account Balance :</h5>
							<h5 class="text-dark">SGD {{accountBalance?.balance | number:'1.0-2'}}</h5>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xl-4">
		<div class="row row-full-height  custom-bottm-card">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<kt-portlet [class]="'kt-portlet--height-fluid'">
					<kt-portlet-header [title]="'My Account Summary'">
						<ng-container ktPortletTools>
							<div class="">
								<p>As of {{ dateString }}</p>
							</div>
						</ng-container>
					</kt-portlet-header>
					<kt-portlet-body>
						<div class="kt-widget4">
							<div class="kt-widget4__item">
								<a class="kt-widget4__title" href="">Current Balance</a>
								<span
									class="kt-widget4__number kt-font-info">${{accountBalance?.balance | number:'1.0-2'}}</span>
							</div>
							<div class="kt-widget4__item">
								<a class="kt-widget4__title" href="">Availale Balance</a>
								<span
									class="kt-widget4__number kt-font-info">${{accountBalance?.balance | number:'1.0-2'}}</span>
							</div>
							<div class="kt-widget4__item">
								<a class="kt-widget4__title" href="">Arranged Overdraft</a>
								<span class="kt-widget4__number kt-font-info">$0.00</span>
							</div>
						</div>
					</kt-portlet-body>
				</kt-portlet>
			</div>

			<div class="col-sm-12 col-md-12 col-lg-12">
				<kt-portlet [class]="'kt-portlet--height-fluid'">
					<kt-portlet-header [title]="'My Loan'" class="pt-4">
					</kt-portlet-header>
					<kt-portlet-body>
						<p><strong>Great News.</strong>You are highly likely to be accepted for a <strong>loan up to
								$15,000.</strong> 3.3% APR representative on loans between $7,000 and $15,000. Subjected
							to credit status. T&Cs apply.</p>
						<div class="form-group" style="text-align: center;">
							<button disabled class="btn btn-primary" data-toggle="tooltip" data-placement="top"
								title="This feature has been disabled.">
								APPLY NOW | <img src="./assets/media/company-logos/smartbank.png"
									class="pl-2 button-logo">
							</button>
						</div>
					</kt-portlet-body>
				</kt-portlet>
			</div>
		</div>
	</div>
	<div class="col-xl-8">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'My Weekly Account Balance'">
			</kt-portlet-header>
			<kt-portlet-body>
				<kt-widget14 [title]="'Account Balance'" [desc]="'Your recent transaction balance summary'" #widgetComp>
				</kt-widget14>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>

<div class="row">
	<div class="col-xl-8">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'My Recent Transactions'">
			</kt-portlet-header>
			<kt-portlet-body [class]="'kt-portlet__body--fit'">
				<kt-data-table #transactionTable></kt-data-table>
			</kt-portlet-body>
		</kt-portlet>
	</div>
	<div class="col-xl-4">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'Recent Activities'">
			</kt-portlet-header>
			<kt-portlet-body>
				<kt-timeline2></kt-timeline2>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>

<div class="row custom-bottm-card">
	<div class="col-xl-8">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'Overseas Transfer'" class="pt-4">
				<ng-container ktPortletTools>
					<div class="">
						<p>Borderless transactions anywhere in the world</p>
					</div>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body>
				<div class="row">
					<kt-conversion-widget class="col-7 border-right"></kt-conversion-widget>
					<div class="col-5">
						<div class="border-bottom my-auto">
							<h4 class="font-weight-bold text-dark text-center pt-3">Truly Borderless Fund Transfer</h4>
							<h6 class="text-dark text-center pb-3">Move money anywhere in the world.</h6>
						</div>
						<div class="my-auto">
							<kt-status-check (refresh)="fetchAccountBalance($event)"></kt-status-check>
						</div>
					</div>
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
	<div class="col-xl-4">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'Quick Local Money Transfer'" class="pt-4">
				<ng-container ktPortletTools>
					<div class="">
						<p>Transfer funds from one Maybank account to another</p>
					</div>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body>
				<div class="kt-form__section kt-form__section--first">
					<div class="kt-wizard-v1__form">
						<span class="text-danger " *ngIf="onSuccessTransfer!=undefined && !onSuccessTransfer">
							Your requested transfer to Account #{{dashboardForm.moneyTransfer.to}} was
							unsuccessful.<br /><br />
						</span>
						<span class="text-success " *ngIf="onSuccessTransfer">
							{{dashboardForm.moneyTransfer.amount}} SGD has been transferred to Account
							#{{dashboardForm.moneyTransfer.to}} successfully.<br /><br />
						</span>
						<div class="form-group">
							<div class="form-group">
								<label>From</label>
								<input type="text" class="form-control" name="locaddress1" placeholder="From" value=""
									[(ngModel)]="dashboardForm.moneyTransfer.from" disabled>
							</div>
						</div>
						<div class="form-group">
							<div class="form-group">
								<label>To</label>
								<input type="text" class="form-control" name="locaddress1" placeholder="To" value=""
									[(ngModel)]="dashboardForm.moneyTransfer.to">
							</div>
						</div>
						<div class="form-group">
							<label>Amount (SGD)</label>
							<input type="number" class="form-control" name="locaddress1" placeholder="Amount" value=""
								[(ngModel)]="dashboardForm.moneyTransfer.amount">
						</div>
						<div class="kt-form__actions">
							<button (click)="makeTransfer()"
								[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loadingTransfer}"
								[disabled]="dashboardForm.moneyTransfer.to=='' || dashboardForm.moneyTransfer.from=='' || dashboardForm.moneyTransfer.amount==null || dashboardForm.moneyTransfer.amount==''"
								class="btn btn-outline-primary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u mr-3">
								SEND | <img src="./assets/media/company-logos/smartbank.png" class="pl-2 button-logo">
							</button>
							<button (click)="clearTransferForm()"
								[disabled]="dashboardForm.moneyTransfer.to=='' && dashboardForm.moneyTransfer.from=='' && (dashboardForm.moneyTransfer.amount==null || dashboardForm.moneyTransfer.amount=='')"
								class="btn btn-outline-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u mr-3">
								CLEAR
							</button>
						</div>
					</div>
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>


<div class="row custom-bottm-card">
	<div class="col-sm-12 col-md-12 col-lg-3">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'Bank Statements'">
				<ng-container ktPortletTools>
					<div class="">
						<p>Your most recent statements</p>
					</div>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body>

				<kt-widget4 [data]="widget4_5" class="pt-4">
					<ng-template #actionTemplate let-item="item">
						<div class="kt-widget4__tools">
							<a href="javascript:;" class="btn btn-clean btn-icon btn-sm">
								<i class="flaticon2-download-symbol-of-down-arrow-in-a-rectangle"></i>
							</a>
						</div>
					</ng-template>
				</kt-widget4>
			</kt-portlet-body>
		</kt-portlet>
	</div>
	<div class="col-sm-12 col-md-12 col-lg-3">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'Find a mortgage for you'" class="pt-4">
				<ng-container ktPortletTools>
					<div class="">
					</div>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body>
				<div class="text-center pt-4 pb-5">
					<img src="./assets/media/img/Shape-2.png" alt="" />
				</div>
				<p>Lets us take the hassle out of finding an attractive rate. Financial eligibility criteria apply.</p>
			</kt-portlet-body>
		</kt-portlet>
	</div>
	<div class="col-sm-12 col-md-12 col-lg-3">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'Upgrade your Secure Key'" class="pt-4">
				<ng-container ktPortletTools>
					<div class="">
					</div>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body>
				<div class="text-center pt-4 pb-5">
					<img src="./assets/media/img/key.PNG" alt="" />
				</div>
				<p>Upgrade to our Digital Secure Key for faster and more convenient access to your digital banking.</p>
			</kt-portlet-body>
		</kt-portlet>
	</div>
	<div class="col-sm-12 col-md-12 col-lg-3">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'Branches'">
				<ng-container ktPortletTools>
					<div class="">
						<p>Visit our branches for any queries</p>
					</div>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body>
				<kt-widget4 [data]="widget4_2">
				</kt-widget4>
			</kt-portlet-body>
		</kt-portlet>
	</div>

</div>

<!-- TEMPLATE: Use this to add extra cards
<kt-portlet>
	<kt-portlet-header>
		<ng-container ktPortletTitle>
		</ng-container>
		<ng-container ktPortletTools>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body></kt-portlet-body>
	<kt-portlet-footer></kt-portlet-footer>
</kt-portlet>
-->